# Database
POSTGRES_DB=
DB_HOST=
DB_PORT=

# Admin credentials
DB_ADMIN_USERNAME=
DB_ADMIN_PASSWORD=

# Read-only role credentials
DB_READONLY_USER=
DB_READONLY_PASSWORD=

NVIDIA_API_KEY=
CF_ACCOUNT_ID=
CF_AI_API_TOKEN=